<Server port="8005" shutdown="SHUTDOWN">
  <Service name="Catalina">
    <Connector port="80" />

    <Engine name="Catalina" defaultHost="localhost">
      <Logger className="org.apache.catalina.logger.FileLogger" />

      <Host name="localhost" appBase="webapps">
      
        <!-- Define our application context -->
        <Context path="/@EX.NAME@" docBase="@EX.NAME@"
                 debug="5" reloadable="true" crossContext="true">
        
          <!-- Define our JDNI DataSource -->
          <Resource name="jdbc/JNDIPoolDS" type="javax.sql.DataSource" auth="Container"/>
            
          <!-- Configure our JNDI DataSource -->
          <ResourceParams name="jdbc/JNDIPoolDS">
              <parameter>
                <name>factory</name>
                <value>net.java.dev.simplepool.SimplePoolDataSourceFactory</value>
              </parameter>
              <parameter>
                <name>driver</name>
                <value>com.mysql.jdbc.Driver</value>
              </parameter>
              <parameter>
                <name>user</name>
                <value>dbuser</value>
              </parameter>
              <parameter>
                <name>password</name>
                <value>dbpassword</value>
              </parameter>
              <parameter>
                <name>jdbcUrl</name>
                <value>jdbc:mysql://localhost:3306/dbname</value>
              </parameter>
              <parameter>
                <name>minConns</name>
                <value>8</value>
              </parameter>
              <parameter>
                <name>maxConns</name>
                <value>30</value>
              </parameter>
              <parameter>
                <name>maxConnTime</name>
                <value>1</value>
              </parameter>
              <parameter>
                <name>maxCheckoutSeconds</name>
                <value>60</value>
              </parameter>              
            </ResourceParams>
            
        </Context>
            
      </Host>
    </Engine>
  </Service>
</Server>